aside {
  background-color: var(--itens-background);
  border-radius: 10px;
  height: auto;
  padding: 16px 16px;
  text-align: center;
}
.link-destaque {
  border: var(--primary-color) solid 1px;
  list-style-type: none;
  border-radius: 10px;
  padding: 12px 18px;
  margin: 3em 0;
}
.link-destaque:first-of-type a {
  color: var(--primary-color);
  text-decoration: none;
}
.lista-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  list-style-type: none;
}

.lista-links li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 22px;
}
.lista-links li a img {
  width: 40px;
  height: 30px;
}
@media screen and (max-width: 1024px) {
  aside {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
  }
  .logo {
    width: 100px;
  }
  .link-destaque {
    width: 100%;
    max-width: 100%;
    padding: 12px 20px;
    margin: 1em 0;
  }
  .lista-links {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 5px solid var(--secondary-color);

    display: flex;
    flex-direction: row;
    justify-self: anchor-center;
    justify-content: space-evenly;
    background-color: var(--itens-background);
    padding: 1.5em;
    z-index: 1;
    height: 5em;
  }
  .lista-links li a {
    font-size: 16px;
    margin: 12px 0 0;
  }
}
@media screen and (max-width: 480px) {
  .lista-links li a img {
    width: 35px;
    height: 27px;
  }
  .lista-links li a {
    font-size: 14px;
  }
}
