#root {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.container {
  width: 62vw;
  margin: 0.5em auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container div {
  flex-grow: 2;
}
.form__search {
  background: var(--itens-background) url("../../img/search.svg") no-repeat 32px;
  color: var(--text-input);
  padding: 0.5em 1em 0.5em 4em;
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 49px;
  font-family: var(--fonte);
  font-size: 22px;
}
.container-pesquisa {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin-top: 1em;
}
/* ordenação */
.lista-ordenacao__link {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: var(--secondary-color);
  text-decoration: none;
}

.lista-ordenacao__link--active {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
}

.lista-ordenacao {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
/* card */
.card {
  color: var(--text-input);
  text-decoration: none;
  background-color: var(--itens-background);
  border-radius: 8px;

  width: 100%;

  display: grid;
}
.card__img {
  width: 100%;
  height: 240px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 20px 0 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 16px 24px 0px #0000003d;
}
.conteudo__card {
  padding: 16px;
}
.conteudo__rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conteudo__rodape div {
  flex-grow: 0;
}
.conteudo__rodape ul {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: baseline;
}
.conteudo__rodape ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 15px;
}
.conteudo__texto {
  margin-bottom: 67px;
}

.conteudo__texto h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.conteudo__texto p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.rodape__usuario {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rodape__usuario img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
}
.lista-cards {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 24px;
}

@media screen and (max-width: 1024px) {
  #root {
    display: block;
  }
  .container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0;
  }
}
@media (max-width: 770px) {
  .lista-cards {
    grid-template-columns: auto;
  }
}
