.container {
  width: 62vw;
  margin: 3.5em auto;
  display: flex;
  gap: 16px;
}

.container div {
  flex-grow: 2;
}
.form__search {
  background: var(--itens-background) url("../../img/search.svg") no-repeat 32px;
  color: var(--text-input);
  padding: 0.5em 1em 0.5em 4em;
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 49px;
  font-family: var(--fonte);
  font-size: 22px;
}
.container-pesquisa {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
